{% extends "layout.html" %}

{% block content %}

            <!-- Main Content -->
            <div id="content">

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- DataTale -->
                    <div class="card shadow mb-4" style="margin-top: 50px">
                        <div class="card-header py-3">
                            <div class="row">
                                <div>
                                    {% load static %}
                                    <img src="{% static 'assets/images/pt.png' %}" style="margin-right: 10px; margin-bottom: 5px; margin-left: 15px"/>
                                </div>
                                <h6 class="m-0 font-weight-bold text-primary">Top Portugal - Artists</h6>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Artist</th>
                                            <th>Listeners</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for artist in info %}
                                        <tr>
                                            <td style="width: 30%">{{ artist.name }}</td>
                                            <td style="width: 25%">{{ artist.listeners }}</td>
{#                                            <th style="width: 5%">#}
{#                                                <a href="" class="btn btn-success btn-circle btn-sm"/>#}
{#                                                <i class="fas fa-star"></i>#}
{#                                            </th>#}
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of Main Content -->

{% endblock %}
