{% extends "index.html" %}

{% block content %}

    <!-- Main Content -->
    <div id="content">
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">

                        <div class="row">
                            <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 45rem;"
                                    {% load static %}
                                    src="{% static 'assets/images/chico.jpg' %}"/>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <h3><b><a target="_blank" rel="nofollow" href="https://undraw.co/">CHICO DA TINA</a></b></h3>
                                    <h5> Detalhes: </h5>
                                    <a>............</a>
                                    <a>..........</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
            </div>
    <!-- End of Main Content -->

{% endblock %}
