{% extends "layout.html" %}

{% block content %}

            <!-- Main Content -->
            <div id="content">

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- DataTale -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary"><b>Top Global</b> - Artistas</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Artist</th>
                                            <th>Song</th>
                                            <th>Listeners</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td style="width: 40%"><b>Drake</b></td>
                                            <td style="width: 30%">Toosie Slide</td>
                                            <td style="width: 25%">320800</td>
                                            <th style="width: 5%">
                                                <a href="#" class="btn btn-success btn-circle btn-sm"/>
                                                <i class="fas fa-star"></i>
                                            </th>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of Main Content -->

{% endblock %}
