{% extends "index.html" %}

{% block content %}

            <!-- Main Content -->
            <div id="content">

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- DataTale -->
                    <div class="card shadow mb-4">
                            <div class="card-header py-3">Minha lista</div>
                            <div class="card-body" style="align-self: end">
                                    <a href="#" class="btn btn-success btn-icon-split">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-music"></i>
                                        </span>
                                        <span class="text">Adicionar faixa</span>
                                    </a>
                            </div>

                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Artist</th>
                                            <th>Song</th>
                                            <th>Listeners</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Miley Cyrus</td>
                                            <td>Wrecking Ball</td>
                                            <td>320800</td>
                                            <th style="width: 5%">
                                                <a href="#" class="btn btn-danger btn-circle btn-sm"/>
                                                <i class="fas fa-trash"></i>
                                            </th>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of Main Content -->

{% endblock %}
