{% extends "layout.html" %}

{% block content %}

            <!-- Main Content -->
            <div id="content">

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <div class="row">

                        <div class="col-lg-6">

                            <!-- Notícias -->
                            {% for entry in news.entries %}
                                <div class="card shadow mb-4">
                                    <div class="card-header py-3">
                                        <h6 class="m-0 font-weight-bold text-primary"><a href="{{ entry.link }}">{{ entry.title }}</a></h6>
                                    </div>
                                    <div class="card-body">{{ entry.summary }}</div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
    <!-- End of Main Content -->

{% endblock %}
